*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: auto;
    background-image: url(footer_image.jpg);
    background-size: cover;
    text-align: center;
}
/* Navbar section*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;        
    background: #fff;
    border-radius: 0.85rem 0.85rem 0 0;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
}

/* navbar Logo */
.nav-logo {
    flex-shrink: 0;           
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
}
.nav-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Navbar Links */
.nav-links {
    display: flex;
    flex-wrap: wrap;          
    list-style: none;
    gap: 1rem;
    margin-left: auto;        
}

.nav-links li a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #0077ff;
    border-bottom: 1px solid blueviolet;
}

/* hero section  */
.games-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 4rem;
    margin: 1.50rem 3rem 1rem 3rem;
}
.box {
    border: 1px solid black;
    border-radius: 1.50rem;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 500px;
    padding-left: 1.50rem;
    padding-right: 1.50rem;
}
.box:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.box img {
    width: 100%;
    height: 350px; 
    object-fit: cover;
    border-radius: 1.50rem;
    margin-bottom: 1.50rem;
}

.box h1 {
    font-size: 2rem; 
    margin-bottom: 12px;
    color: #333;
}
.box a.btn {
    text-decoration: none;
    display: block;            
    width: 100%;             
    max-width: 100%;           
    padding: 0.2rem 1.5rem; 
    margin: 0 auto 1rem auto;   
    font-size: 2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background: linear-gradient(to right, #0077ff, #00bfff);     
    transition: all 0.3s ease;
}

.btn:hover{
    text-decoration: none;
    height: auto;
    background-image: url(footer_image.jpg);
    background-size: cover;


} 
/* mobile responsive */
@media (max-width: 768px) {
    .games-container {
    grid-template-columns: 1fr; 
    gap: 3rem;
    margin-top: 3rem;
    }
}


/* foorer section */
footer{
    height: auto;
    background-image: url(hero-bg.jpg);
    background-size: cover;
}
.footer-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-section ul{
    list-style: none;
    font-size: 1rem;
    justify-content: center;
    font-weight: 500;
    padding: 0.5rem;
    flex-wrap: wrap;
    gap: 1rem;
}
.footer-section a{
    text-decoration: none;
    font-size: 1rem;
    color: #000;
}
.footer-section a:hover{
    text-decoration: underline;
    font-size: 1.1rem;
    color: yellow;
}
.footer-copyright{
    text-align: center;
    font-size: 1rem;
}




